# ==========================================
# AJNABI DIL BACKEND CONFIGURATION
# ==========================================
PORT=5000
NODE_ENV=production
JWT_SECRET=ajnabidil_super_secret_jwt_key_2026_x99

# (Optional) MongoDB Atlas Cloud Database URL
# If empty, high-speed RAM + Local storage engine is used automatically
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ajnabidil?retryWrites=true&w=majority

# CORS allowed origin (* for open or your frontend URL)
CORS_ORIGIN=*
